@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Euro 2016 Prediction Pool</h1>
    <p class="lead">The Euro 2016 Prediction Pool lets you see fixtures and scores, as well as predict scores and compete against your friends in the leaderboard.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">See fixtures &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fixtures and Scores</h2>
        <p>
            See upcoming fixtures and the scores for games that have already been played.
            Also give your predictions by clicking on the individual match links.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go to fixtures &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>
            See how you are faring against your friends and rivals.
            The leaderboard is updated daily.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go to leaderboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>