@model List<Euro2016.Models.Player>

@{
    ViewBag.Title = "Leaderboard";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Correct score prediction = 8 points. <br />
        Correct score difference (with winner) = 5 points. So every correct draw prediction = 5 points. <br />
        Correct winner = 3 points.
    </p>

    @{
        if (!Model.Any())
        {
            <p class="lead">No players are playing at the moment.</p>
        }
        else
        {
            var grid = new WebGrid(Model);
            @grid.GetHtml(
              htmlAttributes: new { id = "PointsTable" },
              columns: grid.Columns(
                  grid.Column("Position", canSort: false),
                  grid.Column("UserName", header: "User Name", canSort: false),
                  grid.Column("Points", canSort: false)
              ),
              tableStyle: "table table-striped",
              mode: WebGridPagerModes.All
            )
        }
    }
</div>