@model List<Euro2016.Models.Prediction>

@{
    ViewBag.Title = "Predictions";
}
<div class="container">

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Here, you can see your prediction history.</p>

    @{
        if (!Model.Any())
        {
            <p class="lead">No predictions made so far.</p>
        }
        else
        {
            var grid = new WebGrid(Model);
            @grid.GetHtml(
              htmlAttributes: new { id = "PredictionTable" },
              columns: grid.Columns(
                  grid.Column(format: (item) => { return item.MatchDate.ToShortDateString(); }, header: "Match Date"),
                  grid.Column("HomeTeam", header: "Home Team", canSort: false),
                  grid.Column("HomeTeamPredictedScore", header: "Home Team Predicted Score", canSort: false),
                  grid.Column("AwayTeamPredictedScore", header: "Away Team Predicted Score", canSort: false),
                  grid.Column("AwayTeam", header: "Away Team", canSort: false)
              ),
              tableStyle: "table table-striped",
              mode: WebGridPagerModes.All
            )
        }
    }
</div>